.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}

.header-image {
  height: 55px;
  margin-right: 10px;
}

.header-title {
  margin-top: 7px;
  align-items: baseline;
  color: rgb(68, 68, 68)
}

.spinner {
  display: table;
  position: fixed; /* or absolute */
  text-align: center;
}
